#app {
	display: grid;
	place-content: center;
	height: 100vh;
	background-color: #202020;
}
/*
.text {
	color: white;
}

.username {
	width: 100px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
}
*/